/venv
/output
/.vscode
/.pytest_cache
Skate3_EU.7z
Skate3_LATAM.7z
7zr.exe
comando autopy.py
/__pycache__
/dist
/build
mejoras.md
Skate 3 ONLINE INSTALLER v1.4.spec
credentials.json
credentials_service.json
.env
